section.home-rewards
	h3 Rewards and certifications
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.item
						figure
							.box-img
								img(src="./img/home/cv-1.jpg", alt="5")
							figcaption
								p Certificate 1: Malta Premium Global Partner
				.swiper-slide
					.item
						figure
							.box-img
								img(src="./img/home/cv-1.jpg", alt="6")
							figcaption
								p Certificate 2: Malta Premium Global Partner
				.swiper-slide
					.item
						figure
							.box-img
								img(src="./img/home/cv-1.jpg", alt="7")
							figcaption
								p Certificate 3: Malta Premium Global Partner
				.swiper-slide
					.item
						figure
							.box-img
								img(src="./img/home/cv-1.jpg", alt="8")
							figcaption
								p Certificate 4: Malta Premium Global Partner
		.navigation
			i.lnr.lnr-chevron-left
			i.lnr.lnr-chevron-right