section.home-find
	.container
		h3 Find your program with GIS tools
		.row
			.col-6.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-5.png", alt="5")
						figcaption
							h5 Program match
							p Find the program that best matches your goals
			.col-6.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-6.png", alt="6")
						figcaption
							h5 Program match
							p Find the program that best matches your goals
			.col-6.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-7.png", alt="7")
						figcaption
							h5 Program match
							p Find the program that best matches your goals
			.col-6.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-8.png", alt="8")
						figcaption
							h5 Program match
							p Find the program that best matches your goals