section.home-about
	.container
		.row
			.col-lg-3
				h3 about us
				.logo
					img(src="./img/logo-1.png", alt="1")
			.col-lg-9
				.box
					p We are a global leader in Residence, Citizenship, Visa services.
					p GIS is a trusted advisor to businesses and high-net-worth corporations worldwide. We assist our clients with professional services Immigration Law and Immigration Application Service.
					p Our associated teams are professionalized to practice immigration law in the jurisdictions they represent, including not only Malta but also Bulgaria, Cyprus, Greece, Monaco, Portugal, Spain, Switzerland, the UK, the Caribbean, and Canada
					.flex-right
						a(href="javascript:void(0)") View more
			.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-1.png", alt="1")
						figcaption Become a citizen of the world
					p With a second citizenship, you will guarantee yourself the freedom to travel where you want and to divorce your government.
			.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-2.png", alt="2")
						figcaption Move your money to safe place
					p Having money in another country also allows you to reduce your sovereign risk by holding multiple currencies. It’s not just sexy, it’s good diversification. 
			.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-3.png", alt="3")
						figcaption Reduce your corporate tax bill
					p You can legally and easily move your entire business overseas to pay reasonable tax rates.
			.col-lg-3
				.item
					figure
						.box-img
							img(src="./img/icons/icon-4.png", alt="4")
						figcaption Live where you want
					p Live away from your home, you’re not under any obligation to pay homage to the country where you just so happened to evacuate a birth canal. 