.fixed-chat
	a(href="javascript:void") Leave a message
.fixed-backtotop
.fixed-phone
	a(href="javascript:void(0)").phone-number
		span +65 6240 6842
	.phone-icon
//- .fixed-quick
//- 	.icon
//- 	ul
//- 		li lorem 1
//- 		li lorem 2
//- 		li Passport index
//- 		li lorem 3 