.mission_vission
	background: url("../img/about/backgroud-map.png")
	padding-top: 30px
	padding-bottom: 70px
	h3
		font-size: 30px
		color: #ff9100
		text-align: center
		margin: 30px 0
		letter-spacing: 1px
	h4
		margin-bottom: 15px
		font-size: 20px
		letter-spacing: 1px
	h5
		font-size: 16px
	p
		font-size: 14px
	h6
		font-size: 16px
		font-weight: 500
		text-align: center
		margin: 30px 80px
	ul
		
		li
			display: block
			font-size: 14px
		
			&:before
				content: "\2022"
				color: #bdb9b9
				font-weight: 700
				display: inline-block
				width: 1rem
	.our_values
		
		h4
			text-align: center
		.col-md-5th-1
			max-width: 240px
			@media (max-width: 992px)
				margin: auto
		.items
			width: 100%
			
			

		h5
			font-size: 16px
			color: #333333
			margin-bottom: 15px
		p
			font-size: 14px
			color: #333333
		.img
			padding: 30px
			text-align: center