section.mission_vission
			.container
				h3 MISSION & VISSION
				.row
					.col-lg-6.img
						img(src="img/about/about-mission/am-1.jpg" alt="")
					.col-lg-6.content
						h4 OUR VISION
						h5 Integrity – Professional – Friendly!
						p
							| We believe that your success is also ours. So we are aspired for a Working Network supported by highly professional and competent staff, committed to the effective management of Immigration matters with enhanced digitalize
							| information management systems for the improvement of overall customer satisfaction! We will be the foremost immigration service in the world in effectiveness and efficiency!
						br
						h4 OUR MISSION
						p We will contribute to the benefits and interest of our customers by:
						ul
							li Exercising effective Residency Planning
							li Facilitating the investment of genuine investors and business people
							li Keeping out undesirables
							li Fully comply with Regulators to prevent and detect immigration-related crimes
							li Issuing to residents highly secure identity cards and travel documents
				.row
					h6
						| We strives to provide quality service without discrimination and treat each member of the public with respect, consideration and compassion, irrespective of disability, sex, marital status, pregnancy, family status, race, nationality
						| and religion.
				.row
					.our_values
						h4 OUR VALUES
						.our_values_main
							.col.items
								figure
									.img
										img(src="img/icons/icon-9.png" alt="")
									figcaption
										h5 Integrity and Impartiality
										p GISTD faithfully apply our procedure, giving advice and carefully work with government’s practices with impartiality and honesty in order to uphold our high standards of integrity at all times.
							.col.items
								figure
									.img
										img(src="img/icons/icon-10.png" alt="")
									figcaption
										h5 Courtesy and Compassion
										p We treat each customer with respect, consideration, courtesy and compassion. We will be empathetic, appreciative of different perspectives and flexible in the process of consulting and when sending application of customer so that everything can be in line with specific needs.
							.col.items
								figure
									.img
										img(src="img/icons/icon-11.png" alt="")
									figcaption
										h5 Care and Cohesion
										p GISTD will adopt people-based management to care for our staff's need and development, enhance communication, cultivate harmony and trust, and build a professional team with high morale and cohesiveness to serve the public.
							.col.items
								figure
									.img
										img(src="img/icons/icon-12.png" alt="")
									figcaption
										h5 Alertness and Awareness
										p GISTD will remain sensitive to ever-changing social, economic and political environment, assimilate trends and realign our business strategies and operational procedures to meet new challenges.
							.col.items
								figure
									.img
										img(src="img/icons/icon-13.png" alt="")
									figcaption
										h5 Improvement and Illumination
										p Continuously striving for excellence in whatever we do and seek to be the role-model for other immigration services worldwide is a must. GISTD recognized well the importance of such issue and keep it as one of the top priorities.






