section.home-services
	.container
		h3 services
		.services-wrapper
			.row
				.col-lg-4
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-services/hs-1.jpg", alt="1")
								figcaption
									h5 Working visa
									p Welcomes the arrival of professional and other foreigners who are able to make positive contributions for business
									span View more
				.col-lg-4
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-services/hs-2.jpg", alt="1")
								figcaption
									h5 Residence
									p Welcomes the arrival of professional and other foreigners who are able to make positive contributions for business
									span View more
				.col-lg-4
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-services/hs-3.jpg", alt="1")
								figcaption
									h5 Residence
									p Welcomes the arrival of professional and other foreigners who are able to make positive contributions for business
									span View more