section.board_of_advisors
	.container
		h3 board of advisors
		.row
			.col-lg-6
				.item
					figure
						.img
							img(src="/img/about/about-advisors/aa-1.jpg", alt="")
						figcaption
							h4 KHUSHAL PURI
							p CEO
							.button
								a(href="") View more
			.col-lg-6
				.item
					figure
						.img
							img(src="/img/about/about-advisors/aa-2.jpg", alt="")
						figcaption
							h4 Aileen Judith John
							p Managing Director
							.button
								a(href="") View more
			.col-lg-6
				.item
					figure
						.img
							img(src="/img/about/about-advisors/aa-3.jpg", alt="")
						figcaption
							h4 Rosemary Liu
							p Managing Director
							.button
								a(href="") View more
			.col-lg-6
				.item
					figure
						.img
							img(src="/img/about/about-advisors/aa-4.jpg", alt="")
						figcaption
							h4 Emmanuel Groote
							p Managing Director
							.button
								a(href="") View more