extends ../_layout.pug

block var
	- var title = "Homepage"
	- var name = "index"
	- var bodyClass = "index-page"

block main
	include ../../components/home/banner/index.pug
	include ../../components/home/country/index.pug
	include ../../components/home/services/index.pug
	include ../../components/home/about/index.pug
	include ../../components/home/find/index.pug
	include ../../components/home/rewards/index.pug
	include ../../components/home/news/index.pug
	include ../../components/home/download/index.pug