footer
	.container
		.row
			.col-6.col-lg-3
				h3 about us
				.footer-item
					ul
						li
							a(href="javascript:void(0)") Introduction
						li
							a(href="javascript:void(0)") Mission & Vision
						li
							a(href="javascript:void(0)") Board of advisors
						li
							a(href="javascript:void(0)") Certifications & rewards
			.col-6.col-lg-2
				h3 services
				.footer-item
					ul
						li
							a(href="javascript:void(0)") Residency
						li
							a(href="javascript:void(0)") Citizenship
						li
							a(href="javascript:void(0)") Working Visa
			.col-6.col-lg-2
				h3 media
				.footer-item
					ul
						li
							a(href="javascript:void(0)") Government news
						li
							a(href="javascript:void(0)") Gis news
						li
							a(href="javascript:void(0)") Gis Event
			.col-6.col-lg-2
				h3 gis tools
				.footer-item
					ul
						li
							a(href="javascript:void(0)") Program match
						li
							a(href="javascript:void(0)") Program Compare
						li
							a(href="javascript:void(0)") Passport Index
						li
							a(href="javascript:void(0)") Make payment
			.col-6.col-lg-3
				h3 information
				.footer-item
					ul
						li
							a(href="javascript:void(0)") Download form/ brochure
						li
							a(href="javascript:void(0)") Partnership Program
						li
							a(href="javascript:void(0)") Promotion
						li
							a(href="javascript:void(0)") FAQs
		hr
		.row
			.col-lg-3
				h3 GLOBAL IMMIGRATION SERVICES LIMITED
				p Enter your email to receive new promotion from GIS
			.col-lg-4
				h3 SINGAPORE
				ul
					li #14-02 The Arcade, 11 Collyer Quay, Singapore, 049317
					li +65 6240 6842
					li support@gistd.com
			.col-lg-5
				h3 HONG KONG
				ul
					li Unit 1411, 14/Floor, Cosco Tower, 183 Queen’s Road Central, Sheung Wan, Hong Kong
					li +852 8199 0939
					li support@gistd.com
		.flex-center
			.box-img
				img(src="./img/footer/ft-1.jpg", alt="1")
			.box-img
				img(src="./img/footer/ft-2.jpg", alt="2")
			.box-img
				img(src="./img/footer/ft-3.jpg", alt="3")
			.box-img
				img(src="./img/footer/ft-4.jpg", alt="4")
			.box-img
				img(src="./img/footer/ft-5.jpg", alt="5")
			.box-img
				img(src="./img/footer/ft-6.jpg", alt="6")
		.text-center
			p Global Immigration Services Europe LLP is a Limited Liability Partnership, incorporated in England and Wales, Global Immigration Services Limited, Incorporated in the Hong Kong SAR with limited liability, Global Immigration Services Pte. Ltd, Incorporated in Republic of Singapore with limited liability.
			br
			p Each member firm of “GIS group of companies” network is legally separate and independent entities affiliated with Global Immigration Services Pte.Ltd (“GIS”), a Singapore entity.
	.copyright
		.container
			.row
				.col-7.col-lg-12
					.reserved Copyright 2019 by GIS Co. All right reserved.
					.social
						a(href="javascript:void(0)").fab.fa-facebook-f
						a(href="javascript:void(0)").fab.fa-youtube
						a(href="javascript:void(0)").fab.fa-google-plus