section.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.item
					figure
						.box-img
							img(src="./img/banner/b-1.jpg", alt="1")
						.container
							figcaption
								p Live the life you were destined
									br 
									|to live
			.swiper-slide
				.item
					figure
						.box-img
							img(src="./img/banner/b-2.jpg", alt="2")
						.container
							figcaption
								p Shared belief in openness,
									br
									| transparency, and
									br 
									| confidentiality
			.swiper-slide
				.item
					figure
						.box-img
							img(src="./img/banner/b-3.jpg", alt="3")
						.container
							figcaption
								p Our personalized service
									br
									| provides an unmatched
									br
									| experience for each client’s
		.swiper-pagination