section.home-download
	.container
		.row
			.col-lg-6
				h3 Find your best immigration program with our consulting, or read brochure for more information!
			.col-lg-6.flex-center
				a(href="javascript:void(0)").send Send us your request
				a(href="javascript:void(0)").download Download free brochure