header.gis-header
	section.top-header
		.container
			.logo-wrapper
				img(src="./img/logo.png", alt="")
			ul.top-header-menu
				li
					a(href="javascript:void(0)") Gov news
				li
					a(href="javascript:void(0)") GIS news
				li
					a(href="javascript:void(0)") GIS event
				li
					a(href="javascript:void(0)") Login/ Register
			.search-wrapper
				.searchbox
					input(type="text", placeholder="Search...")
					button
						span.mdi-magnify
			.language
				a(href="javascript:void(0)")
					img(src="./img/flag.png", alt="")
					span EN
	section.bottom-header
		.container
			.middle-header-wrapper
				.toggle-menu
					span
					span
					span
				ul.middle-header-menu
					li
						a(href="javascript:void(0)")
							span.mdi-home
					li
						a(href="javascript:void(0)") residence
					li
						a(href="javascript:void(0)") citizenship
					li
						a(href="javascript:void(0)") working visa
					li
						a(href="javascript:void(0)") gis tools
					li
						a(href="javascript:void(0)") faqs
					li
						a(href="javascript:void(0)") contact us
				.apply-now
					a(href="javascript:void(0)") apply now