section.home-country
	.container
		h3 Most popular jurisdictions
		.country-wrapper
			.row
				.col-lg-4
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-1.jpg", alt="1")
								figcaption
									p Singapore Working Visa
				.col-lg-4
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-2.jpg", alt="1")
								figcaption
									p Hong Kong Working Visa
				.col-lg-4
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-3.jpg", alt="1")
								figcaption
									p Malta Citizenship
			.country-thumbs
				.grid-2
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-4.jpg", alt="1")
								figcaption
									p Malta Citizenship
				.grid-2
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-5.jpg", alt="1")
								figcaption
									p Malta Citizenship
				.grid-2
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-6.jpg", alt="1")
								figcaption
									p Malta Citizenship
				.grid-2
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-7.jpg", alt="1")
								figcaption
									p Malta Citizenship
				.grid-2
					.country-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/home/home-country/hc-8.jpg", alt="1")
								figcaption
									p Malta Citizenship
			.flex-center
				a(href="javscript:void(0)") View more