.container
	.about-mission-values
		h4 OUR VALUES
		.row
			.col-md-5th-1.col-sm-4.col-md-offset-0.col-sm-offset-2
				.items
					figure
						.img
							img(src="img/icons/icon-9.png" alt="")
						figcaption
							h5 Integrity and Impartiality
							p GISTD faithfully apply our procedure, giving advice and carefully work with government’s practices with impartiality and honesty in order to uphold our high standards of integrity at all times.
			.col-md-5th-1.col-sm-4
				.items
					figure
						.img
							img(src="img/icons/icon-10.png" alt="")
						figcaption
							h5 Courtesy and Compassion
							p We treat each customer w	ith respect, consideration, courtesy and compassion. We will be empathetic, appreciative of different perspectives and flexible in the process of consulting and when sending application of customer so that everything can be in line with specific needs.
			.col-md-5th-1.col-sm-4
				.items
					figure
						.img
							img(src="img/icons/icon-11.png" alt="")
						figcaption
							h5 Care and Cohesion
							p GISTD will ad	opt people-based management to care for our staff's need and development, enhance communication, cultivate harmony and trust, and build a professional team with high morale and cohesiveness to serve the public.
			.col-md-5th-1.col-sm-4
				.items
					figure
						.img
							img(src="img/icons/icon-12.png" alt="")
						figcaption
							h5 Alertness and Awareness
							p GISTD will remain sensit	ive to ever-changing social, economic and political environment, assimilate trends and realign our business strategies and operational procedures to meet new challenges.
			.col-md-5th-1.col-sm-4
				.items
					figure
						.img
							img(src="img/icons/icon-13.png" alt="")
						figcaption
							h5 Improvement and Illumination
							p Continuously striving for excellence in whatever we do and seek to be the role-model for other immigration services worldwide is a must. GISTD recognized well the importance of such issue and keep it as one of the top priorities.

