section.home-news
	.container
		h3 government news
		.row
			.col-lg-4
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/home/home-news/hn-1.jpg", alt="1")
								.tags GIS News
							figcaption
								time 27/02/2019
								h5 European passport return service
								p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-lg-4
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/home/home-news/hn-2.jpg", alt="2")
								.tags Government News
							figcaption
								time 27/02/2019
								h5 Canada will reopen Parents and Grandparents Program January 28
								p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
			.col-lg-4
				.item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/home/home-news/hn-3.jpg", alt="3")
								.tags GIS News
							figcaption
								time 27/02/2019
								h5 Pathway to Permanent Residence for Retirees
								p The Pathway was announced by Government on 8 May 2018 as part of the 2018-19 Budget and will be introduced on 17 November 2018.